Day-1
Datatypes

In [ ]:
type(4)

int

In [ ]:
type(18.23)

float

In [ ]:
type('String')

str

In [ ]:
list=[1,2,3,4,5,6]
print(list)

[1, 2, 3, 4, 5, 6]

In [ ]:
tuple=(46,51,"str")
print(tuple)

(46, 51, 'str')

In [ ]:
dict={'name':'sheetal','usn':'1by20mc047','sem':4}
print(dict)

{'name': 'sheetal', 'usn': '1by20mc047', 'sem': 4}

In [ ]:
str1='hello'
print(str1)

hello

In [ ]:
print(2+2)
print(10-6)
print(20/2)
print(12*6)
print(8//4)
print(2**6)

4
4
10.0
72
2
64

In [ ]:
x=2
x+=2
print(x)

4

In [ ]:
45>98 and 62==62

False

In [ ]:
45<98 or 62!=62 or 49==49

True

In [ ]:
(10==1)

False

In [ ]:
ap=[1,2,3,4,5]
ap.append(10)
print(ap)

[1, 2, 3, 4, 5, 10]

In [ ]:
ap=[1,2,3,4,5,6,7,8,9,10,11,13,14,15,16,17,18,19,20]
ap.append(12)
print(ap)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 12]

In [ ]:
ins=[2,4,6,8,10]
ins.insert(2,5)
print(ins)

[2, 4, 5, 6, 8, 10]

In [ ]:
ins=[2,4,6,8,10,44,95,6,9,15]
ins.insert(8,37)
print(ins)
ins.insert(12,2)
print(ins)
ins.insert(1000,5)
print(ins)

[2, 4, 6, 8, 10, 44, 95, 6, 37, 9, 15]
[2, 4, 6, 8, 10, 44, 95, 6, 37, 9, 15, 2]
[2, 4, 6, 8, 10, 44, 95, 6, 37, 9, 15, 2, 5]

In [ ]:
ex1=[1,2,3,4,5,6,7]
ex2=[4,8,9,10,12]
ex1.extend(ex2)
ex2.extend(ex1)
print(ex1)
print(ex2)

[1, 2, 3, 4, 5, 6, 7, 4, 8, 9, 10, 12]
[4, 8, 9, 10, 12, 1, 2, 3, 4, 5, 6, 7, 4, 8, 9, 10, 12]

In [ ]:
print("extended list after adding ex2",ex1)
print("extended list after adding ex1",ex2)

extended list after adding ex2 [1, 2, 3, 4, 5, 6, 7, 4, 8, 9, 10, 12]
extended list after adding ex1 [4, 8, 9, 10, 12, 1, 2, 3, 4, 5, 6, 7, 4, 8, 9, 10, 12]

In [ ]:
print(sum(ex2))

114

In [ ]:
count1=[1,2,3,4,5,7,8,9,22.4,3,40,99.3]
print(count1.count(3))

2

In [ ]:
In=[6,7,4,1,9]
In.index(1)

3

In [ ]:
In=[6,7,4,1,9]
In[1:3]

[7, 4]

In [ ]:
pop1=[1,2,3,4,5,6,7,8,9]
pop1.pop(4)
print(pop1)

[1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
a=12
b=3
c=45
a,c=b,a=c,b
print(a)
print(b)
print(c)

3
45
3

In [ ]:
delete=[2,4,6,8]
del delete[2]
delete

[2, 4, 8]

In [ ]:
x=20
y=8
x,y=y,x
print(x)
print(y)

8
20

In [ ]:
name='dlitHe Institute'
course='Python Certification'
name.capitalize()

'Dlithe institute'

In [ ]:
name.count("i")

2

In [ ]:
name.find("u")

13

In [ ]:
name.lower()

'dlithe institute'

In [ ]:
name.upper()

'DLITHE INSTITUTE'

In [ ]:
a='Python is a programming langyuage'
a.split("is")

['Python ', ' a programming langyuage']

In [ ]:
str1='hello to the kingdom'
len(str1)

20

In [ ]:
str1[3]

'l'

In [ ]:
str1[3:6]

'lo '

In [ ]:
str1.replace('the','a')

'hello to a kingdom'

#tuple

In [ ]:
this1=('pizza','burger','fries','coke')
this1[1]

'burger'

In [ ]:
this1[1:3]

('burger', 'fries')

In [ ]:
tuple1=(1,2,3,4)
tuple2=('abc',3,4,'hij')
tuple3=tuple1+tuple2
print(tuple3)

(1, 2, 3, 4, 'abc', 3, 4, 'hij')

In [ ]:
TU=tuple("Hello")*2
print(TU)

('H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o')

In [ ]:
tuple4=("hello","good","evening")
print(tuple4)
a,b,c=tuple4
print(a)
print(b)
print(c)

('hello', 'good', 'evening')
hello
good
evening

In [ ]:
dic={"name":"sheetal","age":22}

In [ ]:
del dic["name"]

In [ ]:
print(dic)

{'age': 22}

In [ ]:
dic["number"]=3456789

In [ ]:
dic["name"]="sheetal"
print(dic)

{'age': 22, 'number': 3456789, 'name': 'sheetal'}

In [ ]:
di={'dict1':{1:'get'},'dict2':{'name':'for'}}

In [ ]:
di

{'dict1': {1: 'get'}, 'dict2': {'name': 'for'}}

In [ ]:
di['dict1'][1]

'get'

In [ ]:
di.clear()
print(di)

{}

In [ ]:
i=20
if(i<25):
  print("i is less than 25")
  print("i am not in if block")

i is less than 25
i am not in if block

In [ ]:
string = "Parade"
if string == "Parade":
  print('hello')
else:
  string = string*4
  print(string)

hello

In [ ]:
i=20
if(i<15):
  print("i is smaller than 15")
else:
  print("i is greater or equal to 15")

i is greater or equal to 15

In [ ]:
i=40
if(i==40):
  if(i<=15):
    print("i is smaller than 15")
  if(i<12):
    print("i is smaller than 12 too")
  else:
    print("i is greater than 15")

i is greater than 15

In [ ]:
i = int(input("Enter value for i"))
if(i==15):
  print("i equals 15 and we are in if block")
elif(i==20):
  print("i is equal 20 and we are in if block")
else:
  print("if and elif block didn't executed")

Enter value for i20
i is equal 20 and we are in if block

In [ ]:
j = int(input("Enter j value\n"))
if(j<10):
  print("i less than 10")
else:
  print("i is greater than 10")

Enter j value
10
i is greater than 10

In [ ]:
limit = int(input("Enter Limit"))
sum = 1
for i in range(1,limit):
  sum+=i
print(sum)

Enter Limit4
7

In [ ]:
def oddeven(x):
  if(x%2==0):
    print("even")
  else:
    print("odd")

In [ ]:
i=int(input("enter the number"))
oddeven(i)

enter the number7
odd

In [ ]:
import pandas as pd
s1=pd.Series([1,3,4,5,6,2,9])
s2=pd.Series([1.1,3.5,4.7,5.8,2.9,9.3])
s3=pd.Series(['a','b','c','d','e'])
Data={'first':s1,'second':s2,'third':s3}
df=pd.DataFrame(Data)
print(df)
#print(pd.DataFrame(s1))
#print(pd.DataFrame(s2))
#print(pd.DataFrame(s3))

   first  second third
0      1     1.1     a
1      3     3.5     b
2      4     4.7     c
3      5     5.8     d
4      6     2.9     e
5      2     9.3   NaN
6      9     NaN   NaN

In [ ]:
df.to_csv('basic.csv')

In [ ]:
a=pd.read_csv('basic.csv')
print(a)

   Unnamed: 0  first  second third
0           0      1     1.1     a
1           1      3     3.5     b
2           2      4     4.7     c
3           3      5     5.8     d
4           4      6     2.9     e
5           5      2     9.3   NaN
6           6      9     NaN   NaN

In [ ]:
df = pd.DataFrame(('A':[1,2,3,4],
                   'B':pd.Timestamp('20220310'),
                   'C':pd.Series(1,index=list(range(4))),
                   'D':np.array([5]*4,dtype='int32'),
                   'E':pd.Categorical(['test','train','train','test'])])

SyntaxError: ignored

In [ ]:
df.dtypes

first       int64
second    float64
third      object
dtype: object

In [ ]:
df.head(2)

   first  second third
0      1     1.1     a
1      3     3.5     b

In [ ]:
!pip3 install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [ ]:
import numpy as np
s=pd.Series([1,2,3,np.nan,8,9])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    8.0
5    9.0
dtype: float64

In [ ]:
d=pd.date_range('202202310',periods=10)
print(d)

ValueError: ignored